.game {
  position: absolute;
  width: 100%;
  height: calc(100% - 88px);
  margin-top: 44px;
  user-select: none;
  font-size: 12pt;
  z-index: 1;
  overflow: auto;
  &.hidden {
    display: none;
  }
}

.puzzlecontainer {
  display: flex;
  flex-wrap: wrap;
}

.puzzle {
  background: #333;
  color: #fff;
  width: 210px;
  height: 230px;
  margin: 16px 0 0 16px;
  border-radius: 8px;
  box-shadow: 0 0 5px 3px #222;
  transition: box-shadow 0.1s ease-in-out;
  &:hover {
    box-shadow: 0 0 5px 3px #111;
  }
  &disabled {
    background: #333;
    color: #fff;
    width: 210px;
    height: 230px;
    margin: 16px 0 0 16px;
    border-radius: 8px;
    filter: brightness(80%);
    box-shadow: 0 0 5px 3px #222;
    transition: box-shadow 0.1s ease-in-out;
    &:hover {
      box-shadow: 0 0 5px 3px #111;
    }
  }
}

.username {
  overflow: hidden;
  height: 18px;
  margin: 0 0 0 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
}

.puzzlepiece {
  position: relative;
  width: calc(100% - 8px);
  height: calc(100% - 24px);
  margin: 8px;
}
