.footer {
  display: flex;
  position: fixed;
  width: 100%;
  height: 40px;
  background: #333;
  box-shadow: -5px 5px #222;
  transition: box-shadow 0.1s ease-in-out;
  align-items: center;
  bottom: 0;
  z-index: 2;
  &:hover {
    box-shadow: -5px 5px #111;
  }
}

.title {
  margin-left: 5px;
  user-select: none;
}

a:link { color: #AAFFFF; }
a:visited { color: #00FFFF; }
a:hover { color: #ABFFFF; }
a:active { color: #F0FFFF; }
a { user-select: none; }