.lobby {
  --roomlist-height: 320px;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 88px);
  margin-top: 44px;
  user-select: none;
  font-size: 12pt;
  z-index: 1;
  overflow: hidden;
  &.hidden {
    display: none;
  }
}

input[type="text"] {
  width: 180px;
}

.roomcreatebox {
  width: var(--roomlist-height);
  height: 80px;
  background: #333;
  margin: 10px 10px 20px;
  box-shadow: 0 0 5px 5px #222;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: box-shadow 0.1s ease-in-out;
  &:hover {
    box-shadow: 0 0 5px 5px #111;
  }
}

.roomlist {
  overflow: auto;
  width: var(--roomlist-height);
  height: calc(100% - 135px);
  box-shadow: 0 0 5px 5px #222;
  transition: box-shadow 0.1s ease-in-out;
  &:hover {
    box-shadow: 0 0 5px 5px #111;
  }
}

.room {
  width: auto;
  height: 80px;
  background: #333;
  margin: 10px 10px 20px;
  box-shadow: 0 0 5px 5px #222;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: box-shadow 0.1s ease-in-out;
  &:hover {
    box-shadow: 0 0 5px 5px #111;
  }
}

.room p {
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}